.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .container, section, section article, aside, footer, .section__down {
    border: 1px solid red; 
} */

.header {
    background-color: #e0e0e0;
}

.section {
    width: 65%;
    background-color: #fff8e3;
}

.article {
    background-color: #feeab9;
}

.aside {
    width: 35%;
    align-self: flex-end;
    background-color: #ddeccb;
}

.footer {
    background-color: #e0e0e0;
}

.section__down {
    background-color: #fafafa;
}